html, body, #cesiumContainer {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#toolbar {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    background: rgba(42, 42, 42, 0.8);
    padding: 5px;
    border-radius: 5px;
}

#openIonBtn {
    padding: 8px 12px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

    #openIonBtn:hover {
        background-color: #0056b3;
    }

/* style.css dosyasının en altına ekle */

#convertBtn {
    padding: 8px 12px;
    color: white;
    background-color: #28a745; /* Yeşil renk */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

    #convertBtn:hover {
        background-color: #218838;
    }

#statusText {
    color: #ffc107; /* Sarı renk */
    margin-left: 15px;
    font-weight: bold;
}
